RewriteEngine On
RewriteBase /
RewriteRule ^index\.php - [L]

# uploaded files
RewriteRule ^files/(.*) wp-includes/ms-files.php?file=$1 [L]
# add a trailing slash to /wp-admin
RewriteRule ^wp-admin$ wp-admin/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^(wp-(content|admin|includes).*) $1 [L]
RewriteRule ^(.*\.php)$ $1 [L]
RewriteRule . index.php [L]

SetEnvIf HOST wp-dev.musicwhore.org dev
SetEnvIf HOST wp-test.musicwhore.org test
SetEnvIfNoCase Referer semalt.com spammer=yes
AuthType Basic
AuthUserFile /home/nemesisv/.htpasswd
AuthName "Musicwhore.org WordPress development site"
require valid-user

Order allow,deny
Allow from all
Deny from env=dev
Deny from env=test
Deny from env=spammer
Satisfy any